<header class="header">
  <div class="header__container">
    <div class="header__link-btn">
      <a href="/" class="header__logo">
        <img src="./img/logo.png" alt="Логотип jb lounge">
      </a>
      <button class="header__burger btn-reset">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:svgjs="http://svgjs.com/svgjs" width="30" height="30" x="0" y="0" viewBox="0 0 48 48" xml:space="preserve" class="">
          <g>
            <g fill="#000">
              <path d="M48 6.992H0v6.857h48zM48 20.574H0v6.857h48zM48 34.152H0v6.857h48z" fill="#000000"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a data-goto=".page__section_1" href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a data-goto=".page__section_2" href="#" class="nav__link">Интерьеры</a></li>
          <li class="nav__item"><a data-goto=".page__section_3" href="#" class="nav__link">Меню</a></li>
          <li class="nav__item"><a data-goto=".page__section_4" href="#" class="nav__link">Контакты</a></li>
        </ul>
        <button class="header__close btn-reset">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="40" height="40" x="0" y="0" viewBox="0 0 357 357"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <path
                d="M357 35.7 321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8z"
                fill="#fff"></path>
            </g>
          </svg>
        </button>
      </nav>
    <div class="header__btn-box">
      <a href="tel:+79225908212" class="header__btn btn-reset">Позвонить</a>
      <button class="btn-reset modal-btn scroll-btn">Забронировать</button>
    </div>
  </div>
</header>
