<section class="interiors page__section_2">
  <div class="container interiors__container">
    <h2 class="visually-hidden">Интерьер</h2>
  </div>
  <div class="swiper interiors__swaiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <img src="./img/interiors-1.webp" alt="Интерьер жб лаунж" class="interiors__img" loading='lazy'>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <img src="./img/interiors-2.webp" alt="Интерьер жб лаунж" class="interiors__img" loading='lazy'>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <img src="./img/interiors-3.webp" alt="Интерьер жб лаунж" class="interiors__img" loading='lazy'>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <video class="interiors__video" src="./video-1.mp4" controls preload="metadata"></video>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <video class="interiors__video" src="./video-2.mp4" controls preload="metadata"></video>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <video class="interiors__video" src="./video-3.mp4" controls preload="metadata"></video>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <video class="interiors__video" src="./video-5.mp4" controls preload="metadata"></video>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="interiors__video-box">
          <video class="interiors__video" src="./video-4.mp4" controls preload="metadata"></video>
        </div>
      </div>
    </div>
    <div class='swiper-buttons'>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
