<section class="menu page__section_3">
  <div class="container">
    <h2 class="menu__title">МЕНЮ</h2>
    <div class="menu__wrapper">
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">КАЛЬЯННАЯ ЧАША</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Фруктовый микс</p>
              <div class="menu__dots"></div>
              <p class="menu__price">950 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Ягодный микс</p>
              <div class="menu__dots"></div>
              <p class="menu__price">950 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Десертный микс</p>
              <div class="menu__dots"></div>
              <p class="menu__price">950 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Алкогольный микс</p>
              <div class="menu__dots"></div>
              <p class="menu__price">950 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Кальян на фрукте</p>
              <div class="menu__dots"></div>
              <p class="menu__price">2000 ₽</p>
            </div>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">БЕЗАЛКОГОЛЬНЫЕ КОКТЕЙЛИ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Киви</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
            <p class="menu__descr">Лёд, киви, сок апельсиновый, спрайт.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Лимонад</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
            <p class="menu__descr">Лёд, сок лимона, лимон, мята, газированная вода.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Лимонад "Манго-маркуйя"</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">190 ₽</p>
            </div>
            <p class="menu__descr">Лёд, сироп манго маракуя, апесин, лимон, мята, газированная вода</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Мохито</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">400мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
            <p class="menu__descr">Лёд, лайм, мята, мятный сироп,сахарный сироп, газированная вода.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">RED Мохито</p>
              <div class="menu__dots"></div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">Лёд, клубника, лайм, мята, сахарный сироп.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Пина колада</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">400мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">Лёд, кокосовый сироп, сливки, сок ананасовый, взбитые сливки.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Голубая лагуна</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
            <p class="menu__descr">Лёд, сок апельсиновый, сок ананасовый, сироп блю кюрасао.</p>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">СОКИ В АССОРТИМЕНТЕ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Апельсиновый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл/1000мл</div>
              <p class="menu__price">100/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Ананасовый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл/1000мл</div>
              <p class="menu__price">100/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Персиковый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл/1000мл</div>
              <p class="menu__price">100/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Яблочный</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл/1000мл</div>
              <p class="menu__price">100/190 ₽</p>
            </div>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">ХОЛОДНЫЕ НАПИТКИ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Вода негазированная</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">500мл</div>
              <p class="menu__price">100 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Вода газированная</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">500мл</div>
              <p class="menu__price">100 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Добрый cola</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">330мл/500мл/1000мл</div>
              <p class="menu__price">90/120/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Добрый апельсин</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">330мл/500мл/1000мл</div>
              <p class="menu__price">90/120/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Добрый лимон-лайм</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">330мл/500мл/1000мл</div>
              <p class="menu__price">90/120/190 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Burn Оригинальный</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">0.449л</div>
              <p class="menu__price">150 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Burn Яблоко-киви</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">0.449л</div>
              <p class="menu__price">150 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Burn "Арбузный" без сахара</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">0.449л</div>
              <p class="menu__price">150 ₽</p>
            </div>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">СМУЗИ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Клубнично-банановый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">240 ₽</p>
            </div>
            <p class="menu__descr">банан, клубника, сахарный сироп</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Ягодный</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">240 ₽</p>
            </div>
            <p class="menu__descr">клубника, черная смородина</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Фруктовый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">240 ₽</p>
            </div>
            <p class="menu__descr">банан, сок апельсиновый</p>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">ДЕСЕРТЫ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Чизкейк</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">170гр</div>
              <p class="menu__price">280 ₽</p>
            </div>
            <p class="menu__descr">печенье савоярди,белок,сахар,мука. крем: желток,сахар,ванильный
              сахар,маскарпоне,сливки,какао. пропитка: кофе,ликер.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Брауни</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">170гр</div>
              <p class="menu__price">290 ₽</p>
            </div>
            <p class="menu__descr">cливочное масло, темный шоколад, сахар, пшеничная мука, куриное яйцо</p>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">ЧАЙ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Зеленый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Черный</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">180 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Зимний вечер</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Черный ароматизированный чай)
              Бодрящий тропический купаж, полный загадок экзотического лета, напомнит о незабываемых приключениях.
              Оттенки спелых и
              сочных фруктов открывают эту чарующую композицию, в душистые пряности придают загадочность и идеально
              дополняют вкус
              этого чая. Состав: Черный цейлонский и индийский крупно листовой чай, елочки из сахара, имбирь, кардамон,
              василек синий,
              цукаты свеклы и кусочки яблока. С добавлением натурального ароматизатора тропических фруктов.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Дерский фрукт</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Фруктовый чай)
              Этот купаж яркий, как солнечный летний день. Он сочетает фруктовые и цитрусовые нотки, которые сливаются,
              создавая
              чувственную и насыщенную композицию, на фоне которой постепенно раскрываются пряные аккорды. Гибис- кус,
              кусочки яблоко,
              изюм, ананас, папайя, кусочки малины и клюквы, ягоды можжевельника и бузины. С добавлением натурального
              ароматизатора
              манго и абрикоса.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Королевский каркаде</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Этнический чай)
              Суданская роза (гибискус) - кустарник, который произрастает в северной Африке (Суд, Египет, Нигерия). Из
              него получается
              освежающий и вкусный напиток благородного рубинового цвета. Вкус заваренного чая во многом будет зависеть
              насколько
              крепко вы его заварите. Лучше всего для этих целей подойдет фарфоровая или стеклянная посуда, которая
              поистине даст
              раскрыться вкусу чая. Благодаря уникальному освежающему и тонизирующему свойству, чай каркаде будет
              настоящий спасением
              в жаркие летние дни.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Сенча</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Китайский зеленый чай)
              Китайский крупнолистовой чай, выращиваемый на плантациях в провинции Юньнань. Чай изготавливается по
              японским традициям
              с обработкой паром в течение 60-120 секунд. При этом китайский чай лишен традиционного для японских сортов
              чая морского
              свежего аромата и травяного послевкусия. При заваривании чай дает настой нежно-зеленного цвета с терпким
              вкусом и нежным
              ароматом весеннего луга с долгим цветочным послевкусием.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Глинтвейн black</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">Глинтвейн - горячий пряный напиток. Именно с его ароматом для многих ассоциируются
              рождественские ярмарки, его вкус
              напоминает посиделки у камина. Черный индийский и цейлонский крупнолистовой чай, яблоко,, корень имбиря,
              корица, бадьян,
              кардамон, гвоздика, горошины душистого перца, кусочки апельсина. Ароматизирован натуральными маслами
              специй.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Травяной с имбирем</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Травяной чай)
              Насыщенный энергетическими, бодрящими фитокомпонентами чай. Состав: Имбирь, лимонная трава, лепестки розы,
              корень
              солодки, мята, листья малины, цедра и кусочки лимона, яблоко, ромашка, корица, горошины черного перца.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Красный улун</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">210 ₽</p>
            </div>
            <p class="menu__descr">(Китайский улун)
              Сладкий, насыщенный аромат с оттенками корицы и шоколада. Мягкий, глубокий вкус с пряными и цветочными
              нотами. Состав:
              Китайский зеленый крупнолистовой чай.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Облепиховый</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">800мл</div>
              <p class="menu__price">250 ₽</p>
            </div>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">КОФЕ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Эспрессо</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">30мл</div>
              <p class="menu__price">100 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Американо</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">150мл</div>
              <p class="menu__price">100 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Капучино</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл</div>
              <p class="menu__price">140 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Латте</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">200мл</div>
              <p class="menu__price">160 ₽</p>
            </div>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Айс Латте</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">190 ₽</p>
            </div>
            <p class="menu__descr">Лёд, зерновое кофе, молоко, сироп на выбор.</p>
          </article>
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Раф кофе</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">350мл</div>
              <p class="menu__price">260 ₽</p>
            </div>
          </article>
        </div>
      </div>
      <div class="menu__hookah">
        <div class="menu__header">
          <h3 class="menu__title-h3">СНЕКИ</h3>
        </div>
        <div class="menu__body">
          <article class="menu__article">
            <div class="menu__item">
              <p class="menu__item-title">Микс орешки/чипсы</p>
              <div class="menu__dots"></div>
              <div class="menu__addition">100гр</div>
              <p class="menu__price">290 ₽</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
